---
import Section from "../Section.astro"

import { education } from "@cv"

import { monthYear } from "@/utils/utils.ts"
---

<Section title="Education">
  <ul>
    {
      education.map(({ institution, startDate, endDate, area, url }) => {
        const date = monthYear(startDate, endDate)

        return (
          <li>
            <article>
              <header>
                <div>
                  <h3>{institution}</h3>
                  <h4>
                    {
                      url
                        ? <a class ="link-education" href={url} target="_blank">{area}</a>
                        : <span>{area}</span>
                    }
                  </h4>
                </div>
                <time>{date}</time>
              </header>
            </article>
          </li>
        )
      })
    }
  </ul>
</Section>

<style>
  ul {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-lg);
  }

  article h3 {
    font-weight: 500;
    color: var(--color-primary);
    margin-bottom: var(--spacing-xs);
  }

  article h4, .link-education {
    color: var(--color-secondary);
    font-weight: 400;
  }

  .link-education:hover {
    text-decoration: underline;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: var(--spacing-xs);
  }

  time {
    color: var(--color-text);
    font-size: var(--font-size-lg);
    text-align: end;
  }
</style>