---
import Section from "../Section.astro"

import { work } from "@cv"
import { monthYear } from "@/utils/utils.ts"
---

<Section title="Work Experience">
  <ul>
    {
      work.map(
        ({ name, startDate, endDate, position, summary, url }) => {
          const date = monthYear(startDate, endDate)
          
          return (
            <li>
              <article>
                <header>
                  <div>
                    <h3>
                      <a class ="link-work" href={url} target="_blank">{name}</a>
                    </h3>
                    <h4>{position}</h4>
                  </div>

                  <time>{date}</time>
                </header>

                <footer>
                  <p>{summary}</p>
                </footer>
              </article>
            </li>
          )
        }
      )
    }
  </ul>
</Section>

<style>
  ul {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-lg);
  }

  article h3, .link-work {
    font-weight: 500;
    color: var(--color-primary);
    margin-bottom: var(--spacing-xs);
  }

  .link-work:hover {
    text-decoration: underline;
  }

  article h4 {
    color: var(--color-secondary);
    font-weight: 400;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: var(--spacing-xs);
  }

  time {
    color: var(--color-text);
    font-size: var(--font-size-lg);
    text-align: end;
  }
</style>
