---
import Section from '../Section.astro'

import {projects} from '@cv'
---

<Section title='Projects'>
	<ul>
		{
			projects.map(({url, description, highlights, name, isActive}) => {
				return (
					<li>
						<article>
							<header>
								<h3>
									{isActive ? (
										<>
											<a href={url} target='_blank'>
												{name}
											</a>
											<span>•</span>
										</>
									) : (
										<spanurl>{name}</spanurl>
									)}
								</h3>
								<p>{description}</p>
							</header>
							<footer>
								{highlights.map(highlight => {
									return <span>{highlight}</span>
								})}
							</footer>
						</article>
					</li>
				)
			})
		}
	</ul>
</Section>

<style>
	ul {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
		gap: var(--spacing-1);
		margin-inline: -16px;
	}

	article {
		border-radius: var(--radius-md);
		border: 1px solid var(--color-surface);
		gap: var(--spacing-md);
		display: flex;
		flex-direction: column;
		padding: var(--spacing-md);
		height: 100%;
	}

	article header {
		flex: 1;
	}

	article h3 {
		margin-bottom: var(--spacing-xs);
	}

	article a {
		color: var(--color-primary);
	}

	article a:hover {
		text-decoration: underline;
	}

	article p {
		font-size: var(--font-size-base);
		line-height: 1.2rem;
		margin-bottom: var(--spacing-xs);
	}

	article h3 span {
		color: var(--color-accent);
		animation-name: flicker;
		animation-duration: 3s;
		animation-timing-function: ease-in;
		animation-iteration-count: infinite;
	}

	footer {
		display: flex;
		flex-wrap: wrap;
		gap: var(--spacing-xs);
		font-size: var(--font-size-xs);
	}

	footer span {
		border-radius: var(--radius-sm);
		background: var(--color-border);
		color: var(--color-tertiary);
		font-size: var(--font-size-xs);
		font-weight: 500;
		padding: 0.2rem 0.6rem;
	}

	.github-code-link {
		margin-left: 5px;
	}

	@keyframes flicker {
		0% {
			opacity: 1;
		}
		50% {
			opacity: 0.25;
		}
		100% {
			opacity: 1;
		}
	}

	@media (width <= 700px) {
		ul {
			margin-inline: 0px;
		}

		article {
			border: none;
			box-shadow: var(--shadow-sm);
			padding: 0 0 var(--spacing-md) 0;
		}
	}

	@media print {
		article h3 span {
			animation-name: none;
		}
	}
</style>
